<div class="file">
  <div class="left">
    <a href="/file/<%= file.id %>" class="button"><%= file.name %></a>
  </div>
  <div class="right">
    <a href="/file/<%= file.id %>/edit" class="button">Rename</a>
    <a href="/file/<%= file.id %>/delete" class="button">Delete</a>
  </div>
</div>