<div class="folder">
  <div class="left">
    <a href="/folder/<%= folder.id %>" class="button"><%= folder.name %></a>
  </div>
  <div class="right">
    <a href="/folder/<%= folder.id %>/edit" class="button">Rename</a>
    <a href="/folder/<%= folder.id %>/delete" class="button">Delete</a>
  </div>
</div>